.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

.logo {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  margin-left: 60px;
}

input[type="text"],
button {
  width: 80%;
  padding: 12px;
  margin: 8px 0;
  display: block;
  border: 2px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #FFD700;
  color: black;
  cursor: pointer;
}

a {
  color: grey;
  text-decoration: none;
}

.invalid {
  border: 2px solid red;
}

.error-alert {
  background-color: #ffcccc;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login-container h1 {
  width: 100%;
}

.login-container button {
  width: calc(100% - 40px);
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}