.menu-details-container {
    display: flex;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.remove-button {
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 12px;
    background-color: #FFD700;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.sidebar {
    background-color: #FFA500;
    padding: 20px;
    min-width: 250px;
    height: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-button {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: px;
    background-color: #FFD700;
    border: none;
    cursor: pointer;
}

.search-input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

.search-results {
    width: 80%;
    height: 150px;
    background-color: #333;
    overflow: auto;
    padding: 10px;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 55px;

}

.info-section {
    padding-top: 15%;
    width: 100%;
    cursor: pointer;
}

.content {
    margin-left: 5%;
}

.nutrition-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

.nutrition-table th,
.nutrition-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.nutrition-table th {
    background-color: #f2f2f2;
    text-align: center;
    font-weight: bold;
}

.nutrition-table td {
    text-align: center;
}

.nutrient-link {
    display: block;
    margin-top: 35px;
    padding: 10px 20px;
    background-color: #FFD700;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.nutrient-link:hover {
    background-color: #E0C261;
}