.app-container {
    font-family: 'Arial', sans-serif;  
    background-color: #FFA500;  
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .app-header {
    margin-bottom: 20px;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    display: auto; /* Isso ajuda a usar margin: auto para centralizar horizontalmente */
}
  
  .search-box input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 80%;
  }
  
  .weekdays-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }
  
  .day-button {
    background-color: #FFD700; 
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .day-button:hover {
    background-color: #E0C261;
  }
  
  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .modal-container {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%; /* or any fixed width */
    position: relative;
  }
  
  .close-button {
    position: center;
    top: 10px;
    right: 10px;
    width: 30px; /* Fixed width for the close button */
    height: 30px; /* Fixed height for the close button */
    border: none;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Ensure the button text aligns nicely */
  .close-button:focus,
  .close-button:hover {
    background-color: darkred;
  }
  