/* /frontend/src/LoginPage.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
  }
  
  .logo {
    width: 300px;  /* Faz com que a logo se ajuste à largura da sidebar */
    height: 300px; /* Mantém a proporção da imagem */
    margin-bottom: 20px; /* Espaço abaixo da logo para separar do botão de voltar */
    margin-left: 60px;
}
  
  input[type="text"], button {
    width: 80%;
    padding: 12px;
    margin: 8px 0;
    display: block;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #FFD700; /* Dourado */
    color: black;
    cursor: pointer;
  }
  
  a {
    color: grey;
    text-decoration: none;
  }
  
  .invalid {
    border: 2px solid red;
  }

  .error-alert {
    background-color: #ffcccc; /* Fundo vermelho claro */
    color: white; /* Fonte branca */
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.login-container h1 {
    width: 100%;  /* Ocupa toda a largura do container */
}

.login-container button {
    width: calc(100% - 40px); /* Mesma largura que o h1, considerando o padding */
    padding: 10px; /* Ajuste o padding conforme necessário */
    margin: 5px 0; /* Espaço entre os botões e outros elementos */
    cursor: pointer;
}
